<!--<div class="center jumbotron">-->
<div class="center">  
  <h1>SNS like Rails App</h1>
  <h2>
    Created by
    <a href="https://github.com/hebisu?tab=repositories">hebisu</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary waves-effect waves-light" %>
</div>

<!--<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>-->